/*Common Text*/
  
.title {
    font-size: 2rem;
    font-weight: bold;
    color: #1e293b;
    margin-bottom: 1rem;
    text-align: start;
  }
  
  /* PortfolioLayout.css */

.portfolio-layout {
    display: flex;
    min-height: 100vh;
  }
  
  .portfolio-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    background-color: #1f2937; 
  }
  
  .portfolio-main {
    flex: 1;
    margin-left: 15rem; 
    display: flex;
    flex-direction: column;
  }
  .portfolio-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .portfolio-footer {
    margin-top: auto; 
  }

@media (max-width: 768px) {
    .portfolio-layout {
        flex-direction: column;
    }

    .portfolio-sidebar {
        position: relative;
        width: 100%;
        height: auto; 
    }

    .portfolio-main {
        margin-left: 0; 
    }
}